.box {
  border-radius: 20px;
  border: 1px solid black;
  width: inherit;
  padding: 14px;
  height: 51px;
}

.instagramBlock {

  :global(.mantine-Carousel-controls) {
    top: calc(50% - (26px + 71px) / 2);
  }
}
