.price {
    display: flex;

    span {
        color: black;
        width: fit-content;
        font-size: 16px;
    }

    button,
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        border: 1px solid #f4f4f4;
    }
}