.card {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & > *:nth-child(4) {
    margin-right: 0 !important;
  }
  & > *:nth-child(7) {
    margin-right: 0 !important;
  }
}

.sellers{
    max-width: 1500px;

}

.text{
    padding: 10px 16px 10px 33px;
    border-radius: 30px;
    border: 1px solid black;
}

.arrow{
    background-color: rgba(204, 225, 245, 1);
    padding: 7px;
    border-radius: 30px;
    display: flex;
    width: 30px;
}
.title{
    align-items: flex-end;
}