.text {
    text-align: center;
    justify-content: center;
    border-top: 1px solid black;

    :global(.mantine-Carousel-container) {
        align-items: center;
    }
    :global(.mantine-Carousel-controls) {
       display: none;
      }
}

.title {
    font-size: 40px;

    @media (max-width: 768px) {
        font-size: 26px !important;
        line-height: 24px;
    }
}