.formPay {
    border-radius: 16px;
    border: 1px solid #f4f4f4;
}

.allPrice {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;

    input {
        width: 223px !important;
        height: 48px !important;
        padding: 12px 24px;
    }
}


.border {
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
}