.header {
  overflow: hidden;
}
.text {
  white-space: nowrap;
  animation: text 10s infinite linear;
}
@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-160%, 0);
  }
}
