.text {
  padding: 10px 16px 10px 33px;
  border-radius: 30px;
  border: 1px solid black;
}

.arrow {
  background-color: rgba(204, 225, 245, 1);
  padding: 7px;
  border-radius: 30px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.content {
  justify-content: space-between;
}

.title {
  align-items: flex-end;
}

.textSecret {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.slides {
  border-top: 1px solid black;
  padding: 50px 0;

  :global(.mantine-Carousel-controls) {
    top: calc(50% - (26px + 53px) / 2);
  }
}